

:root {
  --anti-flash-white: #EBF5EE;
  --gunmetal: #283044;
  --snow: #FCFAF9;
  --light-cornflower-blue: #92D5E6;
}

*{
  margin: 0 auto;
  scroll-behavior: smooth;
}
body {
  font-family: 'Helvetica';
  font-weight: 200;
  margin: 0 auto;
  font-size: 1.5vw;
  color: var(--gunmetal);
  background-color: var(--anti-flash-white);
}
.main {
  padding-top: 50px;
  width:100%;
}
a {
  color: var(--light-cornflower-blue);
  font-size: 1.5vw;
  border: 1px solid var(--light-cornflower-blue);
  padding: 8px;
  border-radius: 4px;
  margin: 10px;
}
/*----- FLEX COLUMNS ----- */
.main, .logo, .link, .about, .about-skills, .projects, .fourth{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*----- FLEX ROWS -----*/
.nav, #nav-logo, .top, .second, .skill, .third, .projects, .about-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*----- LANDING PAGE LOGO -----*/
.logo{
  text-align: center;
}
.logo>h1{
  letter-spacing: 3px;
}
.logo>img{
  height: 5vw;
  width: 5vw;
  align-self: center;
}
/*----- NAV BAR -----*/
.nav {
  margin: 0 auto;
  padding: 0;
  height: 8%;
  position: fixed;
  width: 100%;
  z-index: 6;
  background-color: var(--anti-flash-white);
}
.link {
  width: 20%;
  text-align: center;
  justify-content: center;
  letter-spacing: 3px;
  margin-top: 8px;
}
.link>a:hover{
  box-shadow: 3px 3px 6px var(--light-cornflower-blue);
}
.link>a{
  text-decoration: none;
}

#nav-logo{
  justify-content: flex-start;
  font-size: 2vw;
  width: 40%;
  padding: 5px;
}
#nav-logo>h2{
  margin: 0 1vw;
}
#nav-logo>img{
  height: 4vw;
  width: 4vw;
  margin:0;
  margin-left: 1vw;
}
/*----- ABOUT ME SECTION -----*/
.top {
  height: 35%;
  width: 100%;
  margin: 4% 0;
}
.second{
  /* padding: 30px; */
  height: 20%;
  width: 70%;
  padding-bottom: 4%;
}
.third{
  margin: 0;
  width: 100%;
  padding: 3%;
}
.about-skills{
  padding-right: 30px;
}
.skill {
  padding: 10px;
  width: 100%;
  justify-content: flex-start;
}
.skill>p{
  text-align: left;
  margin-left: 15px;
}
.skill>img{
  height: 2vw;
  width: 2vw;
  margin: 0;
  padding: 0;
}
.about-img {
  height: 20vw;
  width: 27vw;
  margin: 0 auto;
}
.about-img>img{
  height: 100%;
  width: 100%;
  justify-content: center;
  border-radius: 4%;
}
.about-personal {
  line-height: 27px;
  font-size: 2vw;
  width: 50%;
  padding-right: 20px;
}
.about-contact{
  width: 50%;
  text-align: center;
  font-size: 2vw;
}
.socialmedia{
  height: 4vw;
  width: 4vw;
}
.socialmedialink{
  border: none;
}
/*----- PROJECTS PAGE -----*/
.projects-header{
  text-align: center;
  margin-bottom: 20px;
  padding-top: 60px;
}
.projects {
  margin-bottom: 40px;
  width: 100%;
}
.project {
  font-size: 1vw;
  width: 250px;
  height: 200px;
  margin: 20px;
  position: relative;
}
.project-caption>a{
  font-size: 1.5vw;
}
.project-thumbnail {
  width: 100%;
  height: 100%;
}
.project-hover{
  position: absolute;
  z-index: 5;
  display: block;
  background: black;
  color: var(--anti-flash-white);
  text-decoration: none;
  text-align: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all .3s ease-in;
}
.project-title{
  font-weight: bold;
  font-size: 2vw;
  margin-top: 10px;
}
.project-line{
  width: 1%;
  margin: 0 auto;
  background: var(--cream);
  height: 1px;
  transition: .8s ease;
}
.project-hover:hover{
  opacity: .9;
}
.project-line{
  width: 40%;
}
#github-header{
  text-align: center;
  margin-bottom: 40px;
}
#trouble{
  font-size: 1vw;
}
/* ----- FOOTER ----- */
.footer{
  height: 10%;
  width: 100%;
  padding: 1%;
  margin-top: 2%;
  text-align: center;
  position: sticky;
}
#me{
  border: none;
}
@media only screen and (max-width: 375px) {
  body{
    font-size: 4vw;
  }
  .top, .about-content, .third, .fourth, .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }
  a{
    font-size: 2.2vw;
  }
  #nav-logo{
    margin-top: 10px;
    font-size: 2vw;
    width: 24%;
  }
  .logo{
    height: 50%;
    width: 100%;
  }
  .logo>img{
    height: 10vw;
    width: 10vw;
  }
  .about-skills{
    width: 90%;
    font-size: 4vw;
  }
  .skill>img{
    height: 4vw;
    width: 4vw;
  }
  .about-img{
    margin-top: 20px;
    height: 40vw;
    width: 52vw;
  }
  .about-personal {
    line-height: 27px;
    font-size: 4vw;
    width: 90%;
    border-right: none;
    padding-right: 0;
    padding-bottom: 20px;
  }
  .about-contact{
    font-size: 4vw;
  }
  .projects{
    margin-right: 2%;
  }
  .project-title{
    font-size: 4vw;
  }
  .project-caption{
    font-size: 3vw;
  }
  .github{
    display: none;
  }
}
/* Project Thumbnail inspired by @curcoder */
/* Icons by flaticon.com */
