@import url('https://fonts.googleapis.com/css?family=Cabin|Josefin+Sans');

@import url('https://fonts.googleapis.com/css?family=Krub');

@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:200');

@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400');

:root {
  --lightgreen: rgb(130, 164, 74);
  --cream: rgb(233, 221, 189);
  --darkgreen: rgb(45, 69, 40);
}
*{
  margin: 0 auto;
  scroll-behavior: smooth;
}
body {
  font-family: 'Assistant', sans-serif;
  font-weight: 200;
  margin: 0 auto;
  font-size: 20px;
  color: var(--cream);
  background-color: #111;
}
.main {
  padding-top: 50px;
  width:100%;
}
h3 {
  color: var(--lightgreen);
}

a {
  color: var(--cream);
}
/*----- FLEX COLUMNS ----- */
.main, .logo, .about, .about-skills, .projects, .fourth{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*----- FLEX ROWS -----*/
.nav, #nav-logo, .link, .top, .second, .skill, .third, .projects, .about-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*----- LANDING PAGE LOGO -----*/
.logo{
  text-align: center;
  color: var(--cream);
  font-family: 'Montserrat Alternates', sans-serif;
  letter-spacing: 5px;
}
.logo>img{
  height: 64px;
  width: 64px;
  align-self: center;
}
/*----- NAV BAR -----*/
.nav {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 auto;
  padding: 0;
  height: 55px;
  position: fixed;
  width: 100%;
  z-index: 6;
}
.link {
  background-color: var(--lightgreen);
  /* height: 60px; */
  width: 25%;
  text-align: center;
  justify-content: center;
  padding-top: 1.3%;
  letter-spacing: 3px;
}
.link:hover{
  background-color: black;
}
.link>a{
  text-decoration: none;
  color: var(--cream);
  font-size: 22px;
}
#nav-logo{
  background-color: black;
  justify-content: flex-start;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 22px;
  color: var(--cream);
  /* height: 30px; */
  width: 40%;
  padding: 5px;
}
#nav-logo>h2{
  margin: 0 10px;
}
#nav-logo>img{
  height: 40px;
  width: 40px;
  margin:0;
  margin-left: 20px;
}
/*----- INDEX PAGE -----*/
.top {
  height: 35%;
  width: 100%;
  margin: 40px 0;
}
.second{
  /* padding: 30px; */
  height: 20%;
  width: 70%;
  padding-bottom: 30px;
}
.third{
  margin: 0;
  width: 100%;
  padding: 30px 30px;
  background-color: rgb(28, 31, 29);
}
.about-skills{
  padding-right: 30px;
}
.skill {
  padding: 10px;
  width: 100%;
  justify-content: flex-start;
}
.skill>p{
  color: var(--cream);
  text-align: left;
  margin-left: 15px;
}
.skill>img{
  height: 32px;
  width: 32px;
  margin: 0;
  padding: 0;
}
.about-img {
  /* height: 250px; */
  height: 20vw;
  width: 27vw;
  /* justify-content: center; */
  margin: 0 auto;
}
.about-img>img{
  height: 100%;
  width: 100%;
  justify-content: center;
  border-radius: 4%;
}
.about-personal {
  color: var(--cream);
  line-height: 27px;
  font-size: 20px;
  width: 50%;
  border-right: 1px solid var(--lightgreen);
  padding-right: 20px;
}
.about-contact{
  width: 50%;
  text-align: center;
  font-size: 24px;
}
.socialmedia{
  height: 50px;
  width: 50px;
}
/*----- PROJECTS PAGE -----*/
.projects-header{
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-bottom: 20px;
  padding-top: 60px;
}
.projects {
  /* margin: 0 auto; */
  margin-bottom: 40px;
  width: 100%;
}
.project {
  font-size: 22px;
  width: 35%;
  height: 35%;
  margin: 20px;
  position: relative;
  border: 2px solid var(--lightgreen);
}
.project-thumbnail {
  width: 100%;
  height: 100%;
}
.project-hover{
  position: absolute;
  z-index: 5;
  display: block;
  background: black;
  color: var(--lightgreen);
  text-decoration: none;
  text-align: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all .3s ease-in;
}
.project-title{
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}
.project-line{
  width: 1%;
  margin: 0 auto;
  background: rgb(130, 164, 74);
  height: 1px;
  transition: .8s ease;
}
.project-hover:hover{
  opacity: .9;
}
.project-line{
  width: 40%;
}
#github-header{
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-bottom: 40px;
}
#trouble{
  font-size: 16px;
}
/* ----- FOOTER ----- */
.footer{
  height: 10%;
  width: 100%;
  padding: 1%;
  margin-top: 2%;
  text-align: center;
  background-color: var(--darkgreen);
  color: var(--cream);
  position: sticky;
  font-family: 'Montserrat Alternates', sans-serif;

}
/* Project Thumbnail inspired by @curcoder */
/* Icons by flaticon.com */
