@import url('https://fonts.googleapis.com/css?family=Cabin|Josefin+Sans');

@import url('https://fonts.googleapis.com/css?family=Krub');

@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:200');

@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400');

:root {
  --lightgreen: rgb(130, 164, 74);
  --cream: rgb(233, 221, 189);
  --darkgreen: rgb(45, 69, 40);
}
*{
  margin: 0 auto;

}
body {
  /* font-family: 'Cabin', sans-serif; */
  font-family: 'Assistant', sans-serif;
  font-weight: 200;
  margin: 0 auto;
  font-size: 20px;
  color: var(--cream);
  background-color: black;
}
.main {
  padding-top: 50px;
}
h3 {
  color: var(--lightgreen);
}
a {
  color: var(--cream);
}
/*----- FLEX COLUMNS ----- */
.main, .logo, .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*----- FLEX ROWS -----*/
.nav, #nav-logo, .link, .top, .second, .third, .about-content, .projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*----- LANDING PAGE LOGO -----*/
.logo{
  text-align: center;
  color: rgb(233, 221, 189);
  font-family: 'Montserrat Alternates', sans-serif;
  letter-spacing: 5px;
}
.logo>img{
  height: 64px;
  width: 64px;
  align-self: center;
}
/*----- NAV BAR -----*/
.nav {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 auto;
  padding: 0;
  height: 30px;
  position: fixed;
  width: 100%;
  z-index: 6;
}
.link {
  background-color: var(--lightgreen);
  height: 30px;
  width: 25%;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  letter-spacing: 3px;
}
.link:hover{
  background-color: var(--darkgreen);
}
.link>a{
  text-decoration: none;
  color: var(--cream);
  font-size: 22px;
}
#nav-logo{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 22px;
  color: var(--cream);
  width: 40%;
}
#nav-logo>img{
  height: 40px;
  width: 40px;
  /* margin-left: 20px; */
}
/*----- ABOUT PAGE -----*/
.top {
  height: 35%;
  width: 100%;
  margin: 40px 0;
}
.second{
  padding: 30px;
}
.third{
  padding: 30px;
  background-color: rgb(28, 31, 29);
}
.about {
  height: 270px;
  width: 100%;
  padding-top: 60px;
}
.about-header{
  text-align: center;
  border-bottom: 1px solid var(--lightgreen);
  margin-bottom: 20px;

}
.about-skills, .about-img {
  height: 45%;
  width: 50%;
  padding: 15px;
}
.about-skills>p{
  color: var(--cream);
}
.about-img {
  /* height: 250px; */
  height: 20vw;
  width: 27vw;
  /* justify-content: center; */
  margin: 0 auto;
}
.about-img>img{
  height: 100%;
  width: 100%;
  justify-content: center;
  border-radius: 4%;
}
.about-personal {
  color: var(--cream);
  line-height: 27px;
  font-size: 24px;
  width: 50%;
  border-right: 1px solid var(--lightgreen);
  padding-right: 20px;
  /* text-align: center; */
}
.about-contact{
  width: 50%;
  text-align: center;
  font-size: 24px;

}
/*----- PROJECTS PAGE -----*/
.projects-header{
  text-align: center;
  border-bottom: 1px solid rgb(130, 164, 74);
  margin-bottom: 20px;
  padding-top: 60px;
}
.projects {
  margin-bottom: 40px;
}
.project {
  font-size: .9rem;
  width: 275px;
  height: 200px;
  margin: 0 5px;
  position: relative;
  border: 2px solid rgb(130, 164, 74);
}
.project-thumbnail {
  width: 100%;
  height: 100%;
}
.project-hover{
  position: absolute;
  z-index: 5;
  display: block;
  background: black;
  color: rgb(130, 164, 74);
  text-decoration: none;
  text-align: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all .3s ease-in;
}
.project-title{
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}
.project-line{
  width: 1%;
  margin: 0 auto;
  background: rgb(130, 164, 74);
  height: 1px;
  transition: .8s ease;
}
.project-hover:hover{
  opacity: .9;
}
.project-line{
  width: 40%;
}
#github-header{
  text-align: center;
  border-bottom: 2px solid rgb(130, 164, 74);
  margin-bottom: 40px;
}
